.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}.btn{
  background-color: #4E47FF;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  padding:12px 36px;
}
.btn:hover{
  background-color: crimson;
  color: black;
}
/* Navbar and Banner Section */
.header{
  background-image: url('../Assets/Hero-bg.png');
}
nav{
  display: flex;
  justify-content: space-between;
  margin: 0px 150px;
  align-items: center;
}
nav h3{
  font-size: 34px;
  font-weight:900;
  color:#4E47FF;
  margin-top: 50px;
}
.title{
  text-align: center;
  width: 905px;
  height: 237px;
  margin: 0 auto;
  padding: 158px 267px 152px 267px; 
}
.title h1{
  font-weight: bold;
  font-size: 65px;
  color:#252432;
}
/* Action Section */
.action{
  display: flex;

}
.action-content{
  max-width: 517px;
  justify-content: space-between;
  margin: 116px 159px 116px 141px;
}

.action-dp{
  width: 403px;
  height: 328px;
  margin: 116px 160px 116px 220px;
  border-radius: 48px;
}
.action-title{
  font-weight: bold;
  font-size: 42px;
  color:#252432;
}
.action-description{
font-size: 24px;
color: #25243250;
}
/*  Productive Users Section */

  .user-section{
    background-color:#4E47FF10;
    border-radius: 24px;
    max-width: 1140px;
    max-height: 306px;
    margin: 116px 159px 137px 141px;
    padding: 50px 142px 40px 142px;
    text-align: center;

  }
  .section-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
  }

  .user-items{
    display: flex;
    justify-content: space-around;
    padding-top: 0px;
  }


.item-title{
  font-weight: bold;
  font-size: 80px;
  color: #4E47FF;
 margin-bottom: 0px;
}
.item-description{
  font-size: 20px;
  color: #00000050;
  margin-top: 0px;

}

/* Let’s Get In Touch Section */
.lgt{
 max-width:1140px;
  margin:99px 133px 20px 167px;
  background-color: #ffffff50;
  
}
.lgt-main{
  display: flex;
  justify-content: space-between;
}

.lgt-text{
   width:528px;
  height: 232px;
   font-weight: bold;
  font-size: 97px;
  color: #000000;
  margin: 200px 115px 200px 0px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 497px;
  height: 490px;
  margin: 100px 0px 71px 115px;
}
.form label{
  font-size: 18px;
  font-weight: 500px;
  display: block;
  color: #000000;
 
}
.form placeholder{
  font-size: 20px;
  color: #00000050;
}
.form input,.form textarea{
  border-radius: 10px;
  border-color: #D6DDED;
  width: 497px;
  height: 70px;
}
